<div class="table-controllers-buttons">
    <button id="save-data">Сохранить данные</button>
    <button id="add-row">Добавить строку</button>
    <button id="delete-row">Удалить строку</button>
</div>

<div id="main-table" class="table main-table">

    <div class="table-row">

        <div class="table-cell table-header" id="sort-name" data-sort-state="ascending">Name</div>
        <div class="table-cell table-header" id="sort-age" data-sort-state="ascending">Age</div>
        <div class="table-cell table-header" id="sort-city" data-sort-state="ascending">City</div>

    </div>

</div>